@font-face {
    font-family: roboto-thin;
    src: url("./Roboto-Thin.ttf");
}

@font-face {
    font-family: roboto;
    src: url("Roboto-Light.ttf");
}


*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
 
body {
    margin: 0;
    padding: 0;
    background: #eaedf1;
}
 
body, input, textarea {
    font: 20px roboto;
}
 
.container {
    max-width: 25em;
    margin: 2em auto;
    width: 95%;
     
}
 
.title {
    font-size: 38px; 
    padding: .5em 0;
    text-align: center; 
    color: black;
    border-radius: 5px 5px 0 0;
}

.form1 ul {
    background: white;
    margin-bottom: 1em;
    padding: 0;
}
 
.form1 li {
    border: 1px solid #ccc; 
    border-bottom: 0;
    margin-bottom: 0px; 
    position: relative; 
    list-style: none;
}

.form ul {
    background: white;
    margin-bottom: 1em;
    padding: 0;
}
 
.form li {
    border: 1px solid #ccc; 
    border-bottom: 0;
    margin-bottom: 0px; 
    position: relative; 
    list-style: none;
}


.uploadPicture {
    padding-top: 20px;
}
 
.form1 li:first-child {
    border-top: 0;
}
 
.form1 li:last-child {
    border-bottom: 1px solid #ccc;
}

.form li:first-child {
    border-top: 0;
}
 
.form li:last-child {
    border-bottom: 1px solid #ccc;
}

label, input, textarea {
    display: block; 
    border: 0;
}
 
input, textarea { 
    width: 100%; 
    height: 100%; 
    padding: 2.25em 1em 1em; 
    outline: 0;
}
 
textarea {
    height: 12em;
    resize: none; 
}

label {
    font-size: .8125em; /* 13/16 */
    position: absolute; 
    top: 0em;
    padding-top: 1.23em;
    right: 0;
    background-color: white;
    left: 1.23em;
    color: #f1773b;
    opacity: 1;
    -webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
}

label.formEle
{
    top: 0;
    padding-top: 1.23em;
    right: 0;
    background-color: white;
}

input[type="submit"] {
    background: #f1773b;
    margin-bottom: 1em;
    color: white;
    border-radius: 3px;
    padding: .75em;
    -webkit-appearance: none; /* remove default browser <button> styling */
    -webkit-transition: .333s ease -webkit-transform;
    transition: .333s ease transform;
}
input[type="submit"]:hover {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
    cursor: pointer;
}
input[type="submit"]:active {
    -webkit-transform: scale(.975);
    transform: scale(.975);
}

.js-hide-label label {
    opacity: 0; 
    top: 1.5em
}

.js-unhighlight-label label {
    color: #999
}

#uploadPicture
{
    font-size: .8125em;
    color: #f1773b;
    font-weight: 400;
    padding-left: 20px;
}

input[type="file"]
{
    padding: 0;
    margin: 16px;
}

input[type="button"]
{
    display: initial;
    border: none;
    width: auto; 
    height: auto; 
    padding: 5px;
    background: none;
    outline: none;
    margin-left: 20px;
    margin-top: 55px;
    font-size: 15px;
    border: solid 1px gray;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
    margin-bottom: 20px;
}

header
{
    background: black;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px
}

header span
{
    font-size: 12px;
}

#infoToCollect
{
    font-size: .8125em;
    color: #f1773b;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 80px;
}

#rupeeSymbol
{
    position: absolute;
    bottom: 0.725em;
    left: 5px;
    font-size: 24px;
}

.errMessage
{
    color: red;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.homeMessage
{
    width: 100%;
    text-align: center;
}

.homeLinks
{
    width: 100%;
    margin-top: 35px;
}

.homeLinks a
{
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 15px;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    color: #f1773b;
    background: white;
    box-shadow: 0 0 2px black;
    font-weight: 600;
}

.postEventHeading
{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #f1773b;
}

.infoFields
{
    border-bottom: solid 1px #ececec;
}

li > div > div
{
    position: relative;
}

li > div > div > span
{
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
}





.eventsCards
{
    width: 100%;
    display: block;
}

.eventsCards a
{
    width: 40%;
    display: inline-block;
    margin: 20px 4%;
    background-color: white;
    
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 5px gray;
    text-decoration: none;
    color: black;

}

.eventNameInCard
{
    font-weight: 600;
}

.eventBaakiCheezei
{
    font-size: 15px;
    color: gray;
    margin-top: 8px;
}

.registrationsTable
{
    width: 95%;
    margin: 35px auto;
}

.registrationsTable td, th
{
    border: solid 1px black;
    text-align: center;
}

.downloadAsExcelButton
{
    text-align: center;
    width: 100%;
}

.downloadAsExcelButton button
{
    background-color: #f1773b;
    border: none;
    cursor: pointer;
    padding: 15px;
    box-shadow: 0 0 5px gray;
    color: white;
    margin-top: 15px;
    font-size: 17px;
}
